nav, .nav-wrapper {
    background-color: #00796B; 
}

.section.white {
    background-color: #00796B !important;
}

nav ul a {
    color: #fff;
}

nav .brand-logo {
    color: #fff;
    font-size: 1.5rem;
    padding-left: 4px;
}

.jumbotron {
    background-color: #E0F2F1;
    height: 250px;
    width: 75%;
    text-align: center;
    margin-top: 20px;
}

h2 {
    padding-top: 30px;
    color: #EEEEEE;
}

#campgroundImage {
    display: inline;
}

.card.small {
    width: 300px;
}

.center-cols > .col {
  float:none; 
  display: inline-block; 
  text-align: center; 
}

.responsive-img {
  padding-top: 50px; 
  display: block;
  padding-bottom: 15px;
}

h4{
    font-size: 1.5rem;
}


#show {
    width: 480px;
    margin: 10px 10px;
}

.right-align {
    display: inline;
    float: right;
}
.card {
     width: 500px;
}
 
.collection .collection-item {
    list-style: none;
}

.card .card-title {
    font-weight: 500;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
}

.card.small .card-action{
    text-align: center;
    font-size: small;
    padding: 5px;
} 

.card.small {
    height: 260px;
}

.btn{
    padding: 0 1rem;
    margin: 10px 10px;
    font-size: .8em;
    margin-right: 10px;
    background-color: #009688;
}

.btn.delete, .btn.deleteComment{
    background-color: crimson;
    /*display: inline;*/
}

form {
    width: 30%;
}

.btn.edit{
    background-color: orange;
}

.btn.like{
    background-color: #FF4081;
}

hr{
    width: 53%;
    float: left;
}

p {
    margin-bottom: auto;
}

.material-icons {
    float: left;
    padding-right: 5px;
}

img {
    margin-top: 25px;
}


