<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<div id="header"></div>
<div class = "container">
    <div class="row">
        <div class="col m3">
            <p>YelpCamp</p>
            <div class="collection">
                <li class="collection-item active">Info 1</li>
                <li class="collection-item">Info 2</li>
                <li class="collection-item">Info 3</li>
            </div>
        </div>
        <div class="col m9">
            <div class="card card-image">
                <span id="show">
                 
                </span>
                <span id ="editDelete"></span>
            </div>
            <div class="text-right" id="newcomment">
                
            </div>
                <hr><div id ="comments"></div>
                
            
<div id="footer"></div>
<script> 
$(document).ready(function() {
  $("#header").load("../partials/header.html"); 
  $("#footer").load("../partials/footer.html");
  var urlParams={};
    window.location.search
      .replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str,key,value) {
        urlParams[key] = value;
      });
    $.get('https://desolate-ridge-10860.herokuapp.com/api/campgrounds/'+urlParams['id'], function(result){
        var campground = JSON.parse(result).campgrounds;
        var html = "";
            html += ('<img class="responsive-img" src="'+ campground.image + '"><span><a>'+ campground.name +'</a></span>'+
            '<span class="right-align">$9.00/night</span><p><em>'+ campground.description + '<p><em>Submitted By ' + campground.author.username + '</em></p>' +
             '<a class="btn btn-small waves-light like"><i class="material-icons">thumb_up</i></a><span name="counter" id="counter">'+ campground.like +'</span> ');
        var html3 = "";
            html3 += ('<a class="btn btn-small waves-light edit" href="/edit/?id='+ campground._id + '"><i class="material-icons">mode_edit</i></a>' +
            '</p></span><button class="btn btn-small waves-light delete" id="delete"><i class="material-icons">delete</i></button>');
        var html1 = "";
            html1 = '<a class="btn btn-success" href="/comments/new/?id='+ campground._id +'">Add New Comment</a>';
        
        $("#show").append(html);
        var username = window.localStorage.getItem('Username');
        var userID = window.localStorage.getItem('userID');
        $("#newcomment").append(html1);
        var comments = JSON.parse(result).campgrounds.comments;
        $.each(comments, function(i, comment){
            var html4 = "";
            html4 = ('<a class="btn btn-small waves-light edit" href="/comments/edit?id='+ campground._id +'&comment_id='+ comment._id +
                '"><i class="material-icons">mode_edit</i></a><a class="btn btn-small waves-effect waves-light deleteComment" id=' + comment._id + ' ><i class="material-icons">delete</i></a><div><hr></div>');
            var html2 = "";
            html2 += ('<div class="row"><div class="col m6"><strong>' + comment.author.username  + '</strong><span class="right-align" id="date">' + 
            comment.date + '</span><p>'+ comment.text + '</p><div id ="ed' + comment._id + '">'); 
            $("#comments").append(html2);
            if(username && (comment.author.id == userID)){
                $("#ed" + comment._id).append(html4);
            }
            var html5 = '</div>';
            $("#comments").append(html5);
        });
        if(username && (campground.author.id == userID)){
            $("#editDelete").append(html3);
        }            
            
    });
});
$(document.body).on('click', '.like', function(){
    var urlParams1={};
    window.location.search
      .replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str,key,value) {
        urlParams1[key] = value;
      });
if(!(window.localStorage.getItem('token'))){
    window.location = '/login';
}
   $.ajax({
        url: 'https://desolate-ridge-10860.herokuapp.com/campgrounds/'+urlParams1['id'],
        type: 'PUT',
        // data: {increment: true},
        beforeSend: function(xhr){xhr.setRequestHeader('Authorization', window.localStorage.getItem('token'));},
        success: function(data) { 
            var likes = data.noOfLikes;
            $('#counter').html(function(i,val)
            {
                return likes;
            });
            $('#like').addClass("green");
        }
    });
        
}); 

$(document.body).on('click', '#delete', function(){
   
var urlParams1={};
    window.location.search
      .replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str,key,value) {
        urlParams1[key] = value;
      });
 $.ajax({
    url: 'https://desolate-ridge-10860.herokuapp.com/campgrounds/'+urlParams1['id'],
    type: 'DELETE',
    beforeSend: function(xhr){xhr.setRequestHeader('Authorization', window.localStorage.getItem('token'));},
    success: function(data){
        window.location.href = '/campgrounds';
        console.log(data);
    }, 
    error: function(data) {
        window.location.href = '/campgrounds';
    }
 });
});

$(document.body).on('click', '.deleteComment' ,function(){
     var id = $(this).attr('id');
var urlParams2={};
    window.location.search
      .replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str,key,value) {
        urlParams2[key] = value;
      });
 $.ajax({
    url: 'https://desolate-ridge-10860.herokuapp.com/campgrounds/'+ urlParams2['id'] + '/comments/' + id,
    type: 'DELETE',
    beforeSend: function(xhr){xhr.setRequestHeader('Authorization', window.localStorage.getItem('token'));},
    success: function(data){
        window.location.href = '/show/?id='+ urlParams2['id'];
        console.log(data);
    }, 
    error: function(data) {
        window.location.href = '/show/?id='+ urlParams2['id'];
    }
 });
});

</script>